.author--intro--card--container {
  margin-top: -30px;
}
.author--intro--card {
  max-width: 100%;
  height: 350px;
  margin: 50px 150px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  background-color: #fff;
}

.author-image {
  float: left;
  width: 290px;
  height: 290px;
  border-radius: 10px;
  margin: 20px 20px;
  object-fit: fill;
}

.author-info {
  text-align: justify;
  margin: 10px;
  max-width: 600px;
  overflow: hidden;
  padding: 18px 40px;
}

.author-info p {
  margin: 0;
}

.author-info span {
  font-weight: bold;
}

.author-info .label {
  display: inline-block;
  width: 80px;
  margin-right: 5px;
}

.info-genre {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 20px;
}
.info-born {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  word-spacing: 2px;
  font-size: 20px;
}
.info-died {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  font-weight: 400;
}
.info-about {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 20px;
  word-spacing: 2px;
}

.top {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 2px;
}

.author--book--title {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 35px;
}
.author--book--container {
  display: flex;
  flex-wrap: wrap;
}
.author--book--card {
  margin-left: 60px;
  width: 250px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 20px;
  height: 420px;
  box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
}
.book-img {
  width: 80%;
  height: 245px;
  margin: 10px 25px;
  object-fit: fill;
  border-radius: 9px;
  box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
}

.book--title {
  font-size: 14px;
  max-width: 250px;
  margin-top: 2px;
  color: #333333;
  text-align: center;
  font-weight: bold;
}
.book--pages {
  font-size: 0.85rem;
  color: gray;
  font-weight: bold;
  max-width: 100%;
  text-align: center;
  /* margin-left: 33px; */
}
.download--button {
  font-size: 13px;
  font-weight: bold;
  margin-left: 33px;
  margin-top: 20px;
  background-color: white;
  border: 3px solid black;
  border-radius: 0px;
}
.download--button:hover {
  background-color: black;
  border: 3px solid black;
  color: white;
}

.nagraj-image {
  float: left;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  margin: 20px;
}

.nagraj--intro--card {
  text-indent: 1.8em;
  text-align: justify;
  max-width: 100%;
  height: 540px;
  margin: 30px 150px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  background-color: #fff;
}
.nagraj-para {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 20px;
}

.copyright--title {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 35px;
}
.copyright--card {
  max-width: 100%;
  height: 380px;
  margin: 50px 150px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(223, 16, 1, 0.8);
}
.copyright--para {
  font-family: "Coromorant Garamond", serif;
  text-indent: 1.5em;
  text-align: justify;
  font-weight: 300;
  font-size: 1.25rem;
  padding: 10px 40px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.mail-icon {
  width: 50px;
  height: 50px;
  margin-top: -20px;
  padding: 2px 53px;
}
.nagraj--links {
  display: flex;
  justify-content: left;
  margin: 10px -26px;
}
.nagraj--social {
  width: 33px;
  height: 33px;
}

@media (max-width: 768px) {
  .author--intro--card--container {
    width: 700px;
    margin: 30px auto;
  }
  .author--intro--card {
    margin: 0px auto;
    max-width: 100%;
    height: 480px;
  }
  .author-image {
    height: 250px;
    width: 250px;
  }
  .info-genre {
    font-size: 18px;
  }
  .info-born {
    font-size: 18px;
  }
  .info-died {
    font-size: 18px;
  }
  .info-about {
    font-size: 18px;
  }

  .author--book--card {
    margin: 20px 60px;
  }
  .nagraj--intro--card {
    width: 800px;
    height: 870px;
    margin: 2px;
  }
  .copyright--card {
    width: 700px;
    height: 440px;
    margin: 50px auto;
  }
}

@media (max-width: 599px) {
  .author--intro--card--container {
    margin: 30px auto;
    width: 580px;
  }
  .author--intro--card {
    margin: 0px auto;
    height: 450px;
  }
  .author-image {
    height: 200px;
    width: 200px;
  }
  .info-genre {
    font-size: 15px;
  }
  .info-born {
    font-size: 15px;
  }
  .info-died {
    font-size: 15px;
  }
  .info-about {
    font-size: 15px;
  }
  .author--book--card {
    margin: 10px 20px;
  }
  .nagraj--intro--card {
    width: 800px;
    height: 700px;
    margin: 2px;
  }
  .nagraj-image {
    float: left;
    width: 220px;
    height: 300px;
    border-radius: 10px;
    margin: 20px;
  }
  .nagraj-para {
    font-size: 15px;
    text-align: justify;
  }
  .copyright--card {
    width: 550px;
    height: 450px;
    margin: 50px auto;
  }
  .copyright--para {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .author--intro--card--container {
    margin: 30px auto;
    width: 450px;
  }
  .author--intro--card {
    height: 470px;
  }
  .author-image {
    height: 150px;
    width: 150px;
  }

  .info-genre {
    font-size: 13px;
  }
  .info-born {
    font-size: 13px;
  }
  .info-died {
    font-size: 13px;
  }
  .info-about {
    font-size: 13px;
  }
  .author--book--card {
    margin: 10px 20px;
  }
  .author--book--card {
    width: 200px;
    height: 380px;
    margin: 10px 18px;
  }
  .book-img {
    height: 210px;
    width: 180px;
    margin: 10px;
  }
  .download--button {
    font-size: 15px;
    margin: 2px 40px;
  }
  .nagraj-image {
    height: 350px;
    width: 300px;
    margin: 40px 70px;
  }
  .nagraj--intro--card {
    height: 920px;
  }
  .contact--container {
    width: 430px;
  }
  .copyright--card {
    width: 430px;
    height: 560px;
  }
  .copyright--para {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .author--book--title {
    font-size: 25px;
  }
  .author--intro--card--container {
    margin: 30px auto;
    width: 390px;
  }
  .author--intro--card {
    height: 900px;
  }
  .author-image {
    width: 320px;
    height: 350px;
    margin: 20px 35px;
  }
  .info-genre {
    font-size: 18px;
  }
  .info-born {
    font-size: 18px;
  }
  .info-died {
    font-size: 18px;
  }
  .info-about {
    font-size: 18px;
  }
  .author--book--container {
    margin: 10px 2px;
  }
  .author--book--card {
    width: 186px;
    height: 390px;
    margin: 10px;
  }
  .book-img {
    height: 210px;
    width: 140px;
    margin: 10px 20px;
  }
  .book--title {
    font-size: 15px;
  }
  .download--button {
    font-size: 15px;
    margin: 2px 30px;
  }
  .nagraj--intro--card {
    height: 1100px;
  }
  .nagraj-image {
    margin: 40px 30px;
    width: 350px;
    height: 440px;
  }
  .contact--container {
    width: 400px;
  }
  .copyright--card {
    width: 400px;
    height: 590px;
  }
}
@media (max-width: 375px) {
  .author--intro--card--container {
    width: 340px;
  }
  .author--intro--card {
    height: 1010px;
  }
  .author-image {
    width: 300px;
    margin: 18px;
  }
  .author--book--card {
    width: 162px;
    margin: 15px 10px;
    height: 360px;
  }
  .book-img {
    height: 200px;
    width: 125px;
  }
  .nagraj-image {
    width: 300px;
  }
  .nagraj--intro--card {
    height: 1170px;
  }
  .contact--container {
    width: 300px;
  }
  .contact--title {
    font-size: 20px;
  }
  .form-group {
    font-size: 15px;
  }
  .copyright--title {
    font-size: 25px;
  }
  .copyright--card {
    width: 320px;
    height: 540px;
  }
  .copyright--para {
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  .author--intro--card {
    width: 280px;
    height: 940px;
    margin: 10px 15px;
  }
  .author-image {
    width: 250px;
    height: 250px;
  }
  .info-genre {
    font-size: 16px;
  }
  .info-born {
    font-size: 16px;
  }
  .info-died {
    font-size: 16px;
  }
  .info-about {
    font-size: 16px;
  }
  .author--book--card {
    margin: 10px 6px;
    width: 140px;
    height: 320px;
  }
  .book-img {
    width: 120px;
    height: 180px;
    margin: 10px;
  }
  .book--title {
    font-size: 11px;
  }
  .book--pages {
    font-size: 11px;
    margin-top: -6px;
  }
  .download--button {
    font-size: 11px;
  }
  .nagraj--intro--card {
    width: 300px;
    margin: 10px;
    height: 1230px;
  }
  .nagraj-image {
    width: 280px;
    margin: 20px;
  }
  .copyright--card {
    width: 300px;
    height: 580px;
  }
}
