.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputbox {
  padding: 8px 10px 8px 10px;
  border: transparent solid 2px;
  height: 25px;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 25px;
  background-color: whitesmoke;
  margin-bottom: 20px;
  font-family: "Cormorant Garamond", serif;
}
.inputbox:hover {
  border: gray solid 2px;
}
.searchIcon {
  margin-left: 280px;
  margin-top: -55px;
}
.inputbox {
  width: 300px;
}
.searchIcon svg {
  font-size: 30px;
}
.dataResult {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  margin-top: 15px;
  width: 300px;
  height: 100px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
  cursor: pointer;
  padding-left: 5px;
}

.dataItem:hover {
  background-color: lightgrey;
}
