@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,700;1,700&family=Nanum+Brush+Script&family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,300;0,400;0,800;1,300;1,500;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Navbar */
.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #091e3c, #000000);
}
.nav--text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  word-spacing: 0.3em;
  display: flex;
  color: white;
  align-items: center;
  max-width: 600px;
  padding-left: 46px;
  margin: 150px 90px;
}
.nav--para {
  display: flex;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 24px;
  max-width: 600px;
  color: gray;
  align-items: center;
  padding-left: 46px;
  margin: -140px 90px;
}
.lottie--container{
  width: 400px;
  height: 100px;
  float: right;
  margin-right: 120px;
  margin-top: -200px;
}

/* Navigation bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 28px;
}
span {
  color: #ea1538;
  font-family: "Roboto", sans-serif;
}
nav ul li {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  display: inline-block;
  padding: 0px 20px;
}
 ul li a {
  display: flex;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  color: #ea1538;
  transition: 0.3s;
}
.navigation {
  background: linear-gradient(90deg, #091e3c, #000000);
}

/* Card */
.booksbox {
  display: flex;
  justify-content:left;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap;
  padding: 0px 20px;
}
.card {
  background-color: white;
  margin-left: 60px;
  width: 250px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 20px;
  height: 420px;
  box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
}
.card--image {
  width: 80%;
  height: 245px;
  margin: 10px 25px;
  object-fit: fill;
  border-radius: 9px;
  box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
}
.card--title {
  font-size: 14px;
  max-width: 250px;
  margin-top: 2px;
  color: #333333;
  text-align: center;
  font-weight: bold;
}
.card--author {
  font-size: 0.75rem;
  color: gray;
  text-align: center;
  font-weight: bold;
}
.card--genre {
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}
.card--btn {
  font-size: 13px;
  font-weight: bold;
  margin-left: 22px;
  margin-top: 3px;
  background-color: white;
  border: 3px solid black;
  color: black;
  text-decoration: none;
  border-radius: 0px;
}
.card--btn:hover {
  background-color: black;
  border: 3px solid black;
  color: white;
  outline: 2px solid transparent; /* Transparent outline */
  box-shadow: none;
}
.pages--count {
  word-spacing: 5px;
  font-size: 0.85rem;
  color: gray;
  font-weight: bold;
  max-width: 80px;
  margin-left: 145px;
  margin-top: -30px;
}
.tag--icon {
  height: 12px;
  width: 12px;
  margin-right: 8px;
}

/* Footer css */
.footer--name--link{
  color: #000000;
  text-decoration: none;
}
.footer {
  text-align: center;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 10px;
}
.social--icons {
  display: flex;
  justify-content: center;
}
.social-link {
  width: 44px;
  height: 44px;
  align-items: center;
  background-color: transparent;
  margin: 15px 20px;
}
.instagram-link:hover {
  border-radius: 6px;
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}
.instagram-link {
  position: relative;
  transition: top 0.3s ease;
}
.instagram-link:hover {
  top: -10px;
}
.linkedin-link:hover {
  background-color: #0a66c2;
}
.linkedin-link {
  position: relative;
  transition: top 0.3s ease;
}
.linkedin-link:hover {
  top: -10px;
}
.twitter-link:hover {
  background-color: #1da1f2;
}
.twitter-link {
  position: relative;
  transition: top 0.3s ease;
}
.twitter-link:hover {
  top: -10px;
}
.github-link {
  position: relative;
  transition: top 0.3s ease;
}
.github-link:hover {
  top: -10px;
}
.footer-para {
  margin-top: -10px;
  margin-bottom: -50px;
}
.footer-para p {
  font-size: large;
  font-family: sans-serif;
}

/* Authors Page */

.authors--title {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 40px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.authors--card {
  height: 250px;
  margin: 40px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  position: relative;
}
.author--img {
  height: 250px;
  width: 250px;
  border-radius: 3px;
}
.intro {
  height: 70px;
  width: 250px;
  padding: 6px;
  box-sizing: border-box;
  position: relative;
  bottom: 70px;
  background: rgba(27, 27, 27, 0.5);
  color: white;
  transition: 0.5s;
}
.author--name {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  margin: 20px;
  font-size: 20px;
}
.author--description {
  font-size: 11px;
  margin: -22px 20px;
  visibility: hidden;
  opacity: 0;
}
.authors--card:hover {
  cursor: pointer;
}
.authors--card:hover .intro {
  height: 110px;
  bottom: 110px;
  background: black;
}
.authors--card:hover .author--description {
  opacity: 1;
  visibility: visible;
}

.bookspage--title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 35px;
  text-align: center;
}
.overviewpage--title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 35px;
  text-align: center;
}

/* Section headings */
.section-heading {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 20px;
}

/* Paragraphs */
.map--para {
  font-family: "Garamond", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.overview--card {
  max-width: 100%;
  height: 390px;
  margin: 30px 150px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.section {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section--icon {
  width: 30px;
  height: 30px;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 18px;
}
.section-heading a {
  color: black;
  text-decoration: none;
}

.section-heading a:hover {
  text-decoration: underline;
}


.contact--home{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 60px;
}
.contact--container{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100%;
  width: 480px;
  height: 430px;
  /* margin: 50px 420px; */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.contact--title{
  font-family: "Garamond", sans-serif;
  text-align: center;
  font-size: 25px;
  margin-top: -20px;
}
input{
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1em;
  background-color: #ccc;
  /* box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3); */
  transition: 300ms ease-in-out;
}
input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}
textarea{
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1em;
  background-color: #ccc;
  /* box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3); */
  transition: 300ms ease-in-out;
}
textarea:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}
.contact--button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue ;
  color: white ;
  padding: 0.5em 1em;
  padding-left: 0.6em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
.send--text{
  color: white;
}



.contact-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .lottie--container{
    display: none;
  }
  .title{
    font-size: 15px;
  }
  nav ul li a{
    font-size: 9px;
  }
  nav ul li a:hover {
    color: #ea1538;
    transition: 0.3s;
  }
  .nav--text{
    font-size: 40px;
    margin-top: 120px;
  }
  .overview--card{
    height: 550px;
    width: 600px;
    margin: 30px auto;
  }
  .section--icon{
    width: 20px;
    height: 20px;
  }
  .authors--card{
    margin-left: 75px;
  }
}

@media (max-width:599px){
  nav{
    max-width: 100%;
    padding: 10px 10px;
  }
  .title--container{
    padding-left: 20px;
  }
  
  .title{
    font-size: 20px;
    max-width: 100px;
  }
  .list{
    margin-top: 0px;
    margin-left: 106px;
    
  }
  ul{
    margin-top: auto;
    margin-left: 2px ;
    margin-right: 0px;
    padding: 2px;
  }
 nav  ul li a{
    font-size: 12px;
    
  }
  .nav--text{
    font-size: 30px;
    margin-top: 120px;
    margin-left: 40px;
  }
  .nav--para{
    font-size: 20px;
    margin-left: 40px;
  }
  .card{
    margin-left:10px ;
    width: 250px;
  }
  .overview--card{
    height: 540px;
    width: 550px;
    margin: 30px auto;
  }
  .authors--card{
    height: 250px;
    margin: 20px;
  }

}

@media (max-width:479px){
  .nav--text{
    font-size: 22px;
  }
  .nav--para{
    font-size: 18px;
  }
  .card{
    margin: 20px 10px;
    width: 190px;
    height: 340px;
  }
  .card--image{
    width: 130px;
    height: 160px;
    margin: 8px 28px;
  }
  .card--title{
    font-size: 12px;
  }
  .card--author{
    font-size: 12px;
  }
  .card--genre{
    font-size: 12px;
  }
  .card--btn{
    font-size: 12px;
    margin: 1px 50px;
  }
  .pages--count{
    font-size: 12px;
    margin: 4px 63px;
  }
  .overview--card{
    width: 450px;
    height: 460px;
  }
  .section-heading{
    font-size: 15px;
  }
  .map--para{
    font-size: 15px;
  }
  .bookspage--title{
    font-size: 20px;
  }
  .authors--title{
    font-size: 30px;
  }
  .authors--card{
    margin: 15px;
    width: 200px;
  }
  .author--img{
    width: 200px;
  }
}
