@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,700;1,700&family=Nanum+Brush+Script&family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,300;0,400;0,800;1,300;1,500;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #091E3C, #000000);


}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}
.nav--text {
  font-family: "Libre Bodoni", serif;
  word-spacing: 0.3em;
  display: flex;
  color: white;
  align-items: center;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  margin: 150px 90px;
}
.nav--para {
  display: flex;
  font-family: "Playfair", serif;
  font-weight: 300;
  font-size: 24px;
  max-width: 600px;
  color: gray;
  align-items: center;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  margin: -170px 90px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  /* font-style: italic; */
  color: white;
  font-size: 28px;
}
span {
  color: #ea1538;
  font-family: 'Roboto', sans-serif;
}

nav ul li {
  font-family: 'Poppins', sans-serif;
  
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  color: #ea1538;
  transition: 0.3s;
}
.nav--link {
  cursor: pointer;
}
nav button {
  border: none;
  background-color: #ea1538;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
}
button:hover {
  background-color: #ea1538;
  color: white;
}

.booksbox {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 2px;
  max-width: 100%;
  margin-left: 25px;
  margin-top: 10px;
}

.card {
  margin-left: 60px;
  width: 250px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 20px;
  height: 420px;
  box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
}
.card--image {
  width: 80%;
  height: 245px;
  margin: 10px 25px;
  object-fit: fill;
  border-radius: 9px;
  box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
}

.card--title {
  font-size: 14px;
  max-width: 250px;
  /* margin-block: -3px; */
  margin-top: 2px;
  color: #333333;
  text-align: center;
  font-weight: bold;
}
.card--author {
  font-size: 0.75rem;
  color: gray;
  text-align: center;
  font-weight: bold;
}
.card--genre {
  margin: 2px ;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}
.card--btn {
  font-size: 12px;
  margin-left: 22px;
  margin-top: 3px;
  background-color: gray;
}
.pages--count{
  word-spacing: 5px;
  font-size: 0.85rem;
  color: gray;
  font-weight: bold;
  max-width: 80px;
  margin-left: 145px;
  margin-top: -26px;
}
.tag--icon{
  height: 12px;
  width: 12px;
  margin-right: 8px;
}
.footer{
  text-align: center;
  background-color: black;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.social--icons{
  display: flex;
  justify-content: center;
}
.social-link{
  width: 80px;
  height: 80px;
  align-items: center;
  background-color: gray;
  margin: 10px 20px;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  nav {
    padding-left: 5%;
    padding-right: 5%;
  }
  .title{
    font-size: 20px;
  }


  .nav--text {
    margin: 50px 20px;
    font-size: 22px;
  }

  .nav--para {
    font-family: sans-serif;
    margin: -80px 20px;
    font-size: 13px;
  }

  .card {
    margin-left: 20px;
    width: 200px;
    height: 360px;
  }

  .card--image {
    width: 75%;
    height: 200px;
  }

  .card--title {
    font-size: 12px;
    max-width: 150px;
    margin-left: 28px;
  }

  .card--author {
    font-size: 0.65rem;
  }

  .card--btn {
    font-size: 10px;
  }

  .pages--count {
    font-size: 0.75rem;
    margin-left: 125px;
    margin-top: -20px;
  }

  .social-link {
    width: 60px;
    height: 60px;
    margin: 10px 10px;
  }
}

@media screen and (max-width: 480px) {
  .nav--text,
  .nav--para {
    padding: 20px;
    margin: 0;
    
  }
  
  .card {
    margin-left: 50px;
    width: 150px;
    height: 300px;
  }

  .card--image {
    margin-left: 20px;
    width: 75%;
    height: 150px;
  }

  .card--title {
    font-size: 10px;
    max-width: 110px;
  }

  .card--author {
    font-size: 0.6rem;
  }
  .card--genre{
    font-size: 0.6rem;
    /* background-color: red; */
    max-width: 55px;
    margin-left: 49px;
  }

  .card--btn {
    font-size: 9px;
    margin-left: 10px;
    margin-top:10px;
  }

  .pages--count {
    font-size: 0.65rem;
    margin-left: 95px;
    margin-top: -18px;
  }

  .social-link {
    width: 50px;
    height: 50px;
    margin: 10px 5px;
  }
}

@media screen and (max-width: 831px){
  .nav--text {
    font-size: 25px;
    margin-top: 25px;
  }
  .nav--para{
    font-size: 20px;
  }
}
@media  screen and (max-width: 320px){
  .nav--text{
    font-size: 20px;
  }
  .nav--para{
    font-size: 15px;
    margin-top: -35px;
  }
  .card{
    margin-left: 10px;
    width: 120px;
    padding: 2px;
  }
  .card--image{
    width: 80px;
  }
  .card--title{
    font-size: 12px;
    /* background-color: #ea1538; */
    width: 100%;
    margin: 0px 4px;
  }
  .card--genre{
    font-size: 10px;
    /* background-color: #ea1538; */
  
    margin: 0px 25px;
  }
  .card--btn{
    font-size: 10px;
    margin-left: 20px;
  }
  .pages--count{
    font-size: 10px;
    width: 100%;
    /* background-color: #ea1538; */
    margin-top: 5px;
    margin-left: 34px;
  }
}
