@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,700;1,700&family=Nanum+Brush+Script&family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,300;0,400;0,800;1,300;1,500;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* Navbar */
.homepage--container{
  width: 100%;
  overflow-x: hidden;
}
.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #091e3c, #000000);
}
.homepage--texts{
  display: flex;
  flex-direction: column;
}
.nav--text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  word-spacing: 0.3em;
  display: flex;
  color: white;
  align-items: center;
  max-width: 600px;
  margin: 150px 135px;
}
.nav--para {
  display: flex;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 24px;
  max-width: 600px;
  color: gray;
  align-items: center;
  margin: -140px 135px;
}
.nav--subpara{
  margin: 155px 135px;
  max-width: 350px;
  color: rgb(94, 87, 87);
}
.lottie--container {
  width: 400px;
  float: right;
  margin-right: 120px;
  margin-top: -430px;
}
/* Navigation bar */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #091e3c, #000000);
  transition: 0.3s;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}
.logo a {
  display: block;
}
.website--title {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
}
.span {
  color: #ea1538;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
}
span {
  color: #ea1538;
}
.logo a img {
  display: block;
  width: 100%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
}
.menu li {
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  line-height: 1;
  transition: 0.3s;
  font-weight: 700;
}
.menu li a:hover {
  color: #ea1538;
  transition: 0.3s;
}
.hamburger {
  position: relative;
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}
.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
}
.hamburger:before {
  top: -10px;
  width: 20px;
}
.hamburger:after {
  top: 10px;
  width: 25px;
}
.toggle-menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}
.hamburger,
.toggle-menu {
  display: none;
}
.navigation input:checked ~ .hamburger {
  background: transparent;
}
.navigation input:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}
.navigation input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}
.navigation input:checked ~ .menu {
  right: 0;
  box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}
/* Card */
.bookspage--container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.booksbox {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap;
  padding: 0px 20px;
}
.card {
  background-color: white;
  margin-left: 60px;
  width: 250px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 420px;
  box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
}
.card--image {
  width: 80%;
  height: 245px;
  margin: 10px 25px;
  object-fit: fill;
  border-radius: 9px;
  box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120, 120, 120, 0.44);
}
.card--title {
  font-size: 14px;
  max-width: 250px;
  margin-top: 2px;
  color: #333333;
  text-align: center;
  font-weight: bold;
}
.card--author {
  font-size: 0.75rem;
  color: gray;
  text-align: center;
  font-weight: bold;
}
.card--genre {
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}
.card--btn {
  font-size: 13px;
  font-weight: bold;
  margin-left: 22px;
  margin-top: 3px;
  background-color: white;
  border: 3px solid black;
  color: black;
  text-decoration: none;
  border-radius: 0px;
}
.card--btn:hover {
  background-color: black;
  border: 3px solid black;
  color: white;
  outline: 2px solid transparent; /* Transparent outline */
  box-shadow: none;
}
.pages--count {
  word-spacing: 5px;
  font-size: 0.85rem;
  color: gray;
  font-weight: bold;
  max-width: 80px;
  margin-left: 145px;
  margin-top: -30px;
}
.tag--icon {
  height: 12px;
  width: 12px;
  margin-right: 8px;
}
.wordscloud{
  background-color: #162b32;
  background-image: url(./assets/images/bg.png);
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.challenge{
  background-image: url(./assets/images/books-1204029_1280.jpg);
  height: 60vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.challenge--heading{
  font-family: "Cormorant Garamond", serif;
  background-color: white;
  border: 5px solid white;
  width: auto;
  margin-bottom: 20px;
  font-size: 30px;
  padding: 10px;
  border-radius: 35px;
}
.challenge--list{
  display: flex;
  list-style-type:none;
  font-size: 25px;
  padding: 0;
  margin: 0;
}
.challenge--list li{
  font-family: "Cormorant Garamond", serif;
  margin: 15px;
  border-radius: 30px;
  padding: 10px;
  background-color: white;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: black;
  display: inline-block;
}
.challenge--list li:hover{
  background-color: #000000;
  color: white;
}
.challenge--list li, a{
  color: black;
  text-decoration: none;
}
.challenge--list li, a:hover{
  color: white;
}
/* Footer css */
.footer--name--link {
  color: #000000;
  text-decoration: none;
}
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 1px solid #ccc;
}
.social--icons {
  display: flex;
  justify-content: center;
}
.social-link {
  width: 30px;
  height: 30px;
  margin: 20px;
}
.instagram-link:hover {
  border-radius: 6px;
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}
.instagram-link {
  position: relative;
  transition: top 0.3s ease;
}
.instagram-link:hover {
  top: -10px;
}
.linkedin-link:hover {
  background-color: #0a66c2;
}
.linkedin-link {
  position: relative;
  transition: top 0.3s ease;
}
.linkedin-link:hover {
  top: -10px;
}
.twitter-link:hover {
  background-color: #1da1f2;
}
.twitter-link {
  position: relative;
  transition: top 0.3s ease;
}
.twitter-link:hover {
  top: -10px;
}
.github-link {
  position: relative;
  transition: top 0.3s ease;
}
.github-link:hover {
  top: -10px;
}
.footer-para {
  margin-top: -10px;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}

/* Authors Page */
.authors--title {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 40px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items:center;
}
.authors--card {
  height: 250px;
  margin: 40px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  position: relative;
}
.author--img {
  height: 250px;
  width: 250px;
  border-radius: 3px;
}
.intro {
  height: 70px;
  width: 250px;
  padding: 6px;
  box-sizing: border-box;
  position: relative;
  bottom: 70px;
  background: rgba(27, 27, 27, 0.5);
  color: white;
  transition: 0.5s;
}
.author--name {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  margin: 20px;
  font-size: 20px;
}
.author--description {
  font-size: 11px;
  margin: -22px 20px;
  visibility: hidden;
  opacity: 0;
}
.authors--card:hover {
  cursor: pointer;
}
.authors--card:hover .intro {
  height: 110px;
  bottom: 110px;
  background: black;
}
.authors--card:hover .author--description {
  opacity: 1;
  visibility: visible;
}
.bookspage--title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 35px;
  text-align: center;
}
.overview--container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.overviewpage--title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 35px;
  text-align: center;
}
/* Section headings */
.section-heading {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 20px;
}
/* Paragraphs */
.map--para {
  font-family: "Garamond", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.overview--card {
  max-width: 100%;
  height: 450px;
  margin: 30px 130px;
  padding: 10px 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.section {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section--icon {
  width: 30px;
  height: 30px;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 18px;
}
.section-heading a {
  color: black;
  text-decoration: none;
}
.section-heading a:hover {
  text-decoration: underline;
}
.contact--home {
  display: flex;
  justify-content:center;
  margin: 60px auto;
  flex-wrap: wrap;
}
.contactpage--title {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 35px;
  margin-top: 2px;
}
.contact--container {
  background-color: white;
  display: flex;
  margin: -40px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 480px;
  height: 425px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.contact--title {
  font-family: "Garamond", sans-serif;
  text-align: center;
  font-size: 25px;
  margin-top: -20px;
}
.contact--input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1em;
  background-color: #ccc;
  transition: 300ms ease-in-out;
}
.contact--input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}
textarea {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1em;
  background-color: #ccc;
  transition: 300ms ease-in-out;
}
textarea:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}
.contact--button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.5em 1em;
  padding-left: 0.6em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}
button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
button:hover span {
  transform: translateX(5em);
}
button:active {
  transform: scale(0.95);
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
.send--text {
  color: white;
}
.contact-form {
  max-width: 400px;
  margin: 0 auto;
}
.form-group {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.contact--input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
.information--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: -40px 20px;
  width: 480px;
  height: 425px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.information--card--title {
  font-family: "Garamond", sans-serif;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}
.information--para {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}
.contact--illustration {
  height: 250px;
  width: 250px;
  margin-top: -10px;
}
@media screen and (max-width: 1113px) {
  .hamburger,
  .toggle-menu {
    display: block;
  }
  .header {
    padding: 10px 20px;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 5%;
  }
  .menu {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -300px;
    background: hsl(0, 0%, 100% /0.1);
    backdrop-filter: blur(5px);
    width: 210px;
    height: 100%;
    padding-top: 98px;
  }
  .menu li {
    width: 100%;
  }
  .menu li a,
  .menu li a:hover {
    padding: 20px;
    color: #ea1538;
    font-size: 24px;
    box-shadow: 0 1px 0 rgba(225, 225, 225, 0.1) inset;
  }
  .lottie--container {
    width: 200px;
    padding-top: 9rem;
  }
  .nav--text {
    font-size: 3rem;
  }
  .overview--card {
    height: 90vh;
    width: 80vw;
    margin: 20px auto;
    padding: 50px;
  }
  .section--icon {
    width: 2rem;
    height: 2rem;
  }
  .authors--card{
    margin: 10px;
  }
  .overview--card{
    height: auto;
  }
}
@media screen and (max-width: 1003px){
  .contact--home{
    gap: 100px;
  }
  .container{
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 989px){
  .lottie--container{
    display: none;
  }
  .authors--card{
    margin: 35px;
  }
  .booksbox{
    gap: 15px;
  }
}
@media screen and (max-width:985px){
  .bookspage--container{
    margin: 20px 0;
  }
  .booksbox{
    margin-top: 20px;
  }
  .card{
    margin: auto;
  }
  .overview--card{
    height: auto;
  }
}
@media screen and (max-width:860px){
  .challenge{
    height: auto;
  }
  .challenge--heading{
    font-size: 25px;
  }
  .challenge--list li{
    font-size: 20px;
  }
}
@media screen and (max-width:837px){
  .homepage--texts{
    justify-content: center;
    height: 100vh;
  }
  .nav--text{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 85px;
  }
  .nav--para{
    font-size: 20px;
    margin-left: 85px;
    text-align: justify;
  }
  .nav--subpara{
    margin-left: 85px;
    font-size: 14px;
  }
  .section--icon{
    margin-left: -20px;
  }
}
@media screen and (max-width:591px){
  .bookspage--container{
    margin: 0 0;
    align-items: center;
  }
  .booksbox{
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    gap: 0px;
    padding: 0px;
  }
  .card{
    box-sizing: border-box;
    height: 300px;
    width: 180px;
    margin-bottom: 10px;
  }
  .card--image{
    height: 160px;
    width: 130px;
    margin:10px 20px;
  }
  .card--title{
    font-size: 10px;
    margin-top: -10px;
    margin-left: -5px;
  }
  .card--author{
    font-size: 10px;
    margin-top: -10px;
  }
  .card--genre{
    font-size: 10px;
    margin-left: -10px;
    margin-top: 0px;
  }
  .card--btn{
    font-size: 12px;
    margin-left: 40px;
    margin-top: 15px;
  }
  .pages--count{
    font-size: 10px;
    margin-left: 65px;
    margin-top: -52px;
  }
}
@media screen and (max-width:483px){
  .challenge--list {
    flex-direction: column;
    align-items: center;
  }
  .booksbox{
    margin: 10px auto;
  }
}
@media screen and (max-width:459px){
  .nav--text{
    font-size: 18px;
    margin-left: 50px;
  }
  .nav--para{
    font-size: 18px;
    margin-left: 50px;
    text-align: justify;
  }
  .nav--subpara{
    font-size: 10px;
    margin-left: 50px;
  }
  .bookspage--title{
    font-size: 25px;
    text-wrap: balance;
  }
  .authors--title{
    font-size: 25px;
    text-wrap:balance;
  }
  .overviewpage--title{
    font-size: 25px;
  }
  .contactpage--title{
    font-size: 25px;
  }
  .contact--illustration{
    width: 150px;
    height: 160px;
    margin-left: 10px;
  }
}
@media screen and (max-width:430px){
  .contact--illustration{
    width: 150px;
    margin:0  100px;
  }
  .nav--text{
    font-size: 25px;
    width: 300px;
  }
  .nav--para{
    width: 300px;
    text-align: justify;
  }
  .nav--subpara{
    color:rgb(107, 107, 107);
  }
  .footer-para{
    font-size: 15px;
  }
}
